@import "./common.scss";
@import "./ypy.scss";

#banner {
  width: 160px;
  height: 600px;
}

#legalBtn {
  @include pos(86, 0);
  width: 72px;
  // opacity: 1;
}

#svg_move,
#svg_idle {
  @include pos(-9, 542);
}
#olg_main {
  width: 89px;
}
